body {
  font-family: "Roboto";
}

header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  text-align: center;
  /*callaction*/
}
header .logo {
  width: 50%;
  display: FLEX;
  justify-content: center;
  object-fit: cover;
  padding: 20px 0px 20px;
  object-position: top;
}
@media screen and (max-width: 768px) {
  header .logo img {
    width: 100%;
  }
}
header .loc {
  text-align: center;
  padding: 20px 0px 20px;
  background-color: #EAEAEA;
  width: 100%;
  color: black;
}
header .loc__content {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
header .loc i {
  margin-right: 10px;
}
header .loc input {
  font-size: 15px;
  background-color: #EAEAEA;
  border: none;
  color: black;
  width: 110px;
}
header .loc input::placeholder {
  color: black;
}
header .calltoaction {
  display: flex;
  flex-direction: column;
  background-color: #F7F7F7;
  width: 100%;
  align-items: center;
}
@media screen and (max-width: 768px) {
  header .calltoaction {
    padding-bottom: 7%;
  }
}
header .calltoaction p {
  font-size: 18px;
  font-weight: 300;
}
@media screen and (max-width: 768px) {
  header .calltoaction p {
    margin: 2% 5% 2%;
  }
}
header .calltoaction h1 {
  font-size: 26px;
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  header .calltoaction h1 {
    margin: 7% 15% 4%;
  }
}
header .calltoaction .header__btn {
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 30px;
  color: white;
  font-weight: 600;
  font-size: medium;
  border: none;
  box-shadow: 2px 4px 10px rgb(173, 173, 173);
  width: 30%;
  height: 60px;
  margin: 20px;
  transition-property: transform;
  transform: scale(1);
}
header .calltoaction .header__btn:hover {
  transform: scale(1.15);
  box-shadow: -1px 3px 26px 5px rgba(0, 0, 0, 0.4);
  opacity: 0.9;
}
@media screen and (max-width: 768px) {
  header .calltoaction .header__btn {
    width: 60%;
  }
}
header .calltoaction h2 {
  margin: 20px;
  font-size: 30px;
}

.header__alafrancaise {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
}
.header__alafrancaise__logoretour {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0 15px;
}
.header__alafrancaise__logoretour a {
  display: flex;
  align-items: center;
}
.header__alafrancaise__logoretour i {
  position: absolute;
  font-size: 45px;
  font-size: xx-large;
  display: flex;
  justify-content: flex-start;
  margin-left: 20px;
  flex-direction: row;
}
@media screen and (max-width: 768px) {
  .header__alafrancaise__logoretour i {
    font-size: 25px;
  }
}
.header__alafrancaise__logoretour img {
  display: flex;
  justify-content: center;
  width: 20%;
  position: relative;
  margin: auto;
  object-fit: cover;
}
@media screen and (max-width: 768px) {
  .header__alafrancaise__logoretour img {
    width: 50%;
  }
}
.header__alafrancaise .banner__lanoteenchantee {
  width: 100%;
  background-image: url("../images/restaurants/lanoteenchantee.jpg");
  height: 350px;
  background-size: cover;
  background-position: center;
  margin-bottom: -25px;
  z-index: -1;
}
@media screen and (max-width: 768px) {
  .header__alafrancaise .banner__lanoteenchantee {
    height: 200px;
  }
}
.header__alafrancaise .banner__alafrancaise {
  width: 100%;
  background-image: url("../images/restaurants/alafrancaise.jpg");
  height: 350px;
  background-size: cover;
  background-position: center;
  margin-bottom: -25px;
  z-index: -1;
}
@media screen and (max-width: 768px) {
  .header__alafrancaise .banner__alafrancaise {
    height: 200px;
  }
}
.header__alafrancaise .banner__ledelicedessens {
  width: 100%;
  background-image: url("../images/restaurants/ledelicedessens.jpg");
  height: 350px;
  background-size: cover;
  background-position: center;
  margin-bottom: -25px;
  z-index: -1;
}
@media screen and (max-width: 768px) {
  .header__alafrancaise .banner__ledelicedessens {
    height: 200px;
  }
}
.header__alafrancaise .banner__lapalettedugout {
  width: 100%;
  background-image: url("../images/restaurants/lapalettedugout.jpg");
  height: 350px;
  background-size: cover;
  background-position: center;
  margin-bottom: -25px;
  z-index: -1;
}
@media screen and (max-width: 768px) {
  .header__alafrancaise .banner__lapalettedugout {
    height: 200px;
  }
}

.resto {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}
@media screen and (max-width: 768px) {
  .resto {
    background-color: #f7f7f7;
    margin: 0%;
  }
}
.resto__title {
  font-size: 25px;
  margin-left: 30px;
}
@media screen and (max-width: 768px) {
  .resto__title {
    margin-left: 20px;
  }
}
.resto__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10%;
  justify-content: space-around;
}
@media screen and (max-width: 768px) {
  .resto__list {
    margin: 0px 20px 0px;
  }
}
.resto__cards {
  width: 40%;
  font-size: large;
  box-shadow: 2px 4px 10px rgb(173, 173, 173);
  margin-bottom: 40px;
  border-radius: 30px 30px;
  position: relative;
}
.resto__cards .fa-solid {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(#9356DC, #FF79DA);
  transition: all 1s;
  opacity: 0;
}
.resto__cards:hover .fa-solid {
  opacity: 1;
}
.resto__cards .fa-light {
  transition: all 1s;
  opacity: 1;
}
.resto__cards:hover .fa-light {
  opacity: 0;
}
@media screen and (max-width: 768px) {
  .resto__cards {
    width: 100%;
  }
}
.resto__cards img {
  width: 100%;
  object-fit: cover;
  height: 175px;
  border-radius: 30px 30px 0px 0px;
}
.resto__new {
  position: absolute;
  top: 0px;
  margin-bottom: -60px;
  left: 77%;
  background-color: #99E2D0;
  color: #008765;
  width: 70px;
  padding: 2%;
  text-align: center;
}
@media screen and (max-width: 425px) {
  .resto__new {
    left: 67%;
  }
}
.resto__cards i {
  float: right;
  position: absolute;
  bottom: 40px;
  right: 10px;
  font-size: 30px;
}
.resto__like {
  position: relative;
}
.resto__info {
  margin-left: 20px;
  height: 70px;
}
.resto__info h3 {
  font-size: 20px;
  line-height: 50%;
}
.resto__info p {
  color: grey;
  font-size: 20px;
}

/* PAGES  ------------------------------------------ */
section {
  border-radius: 30px 30px 30px;
  width: 100%;
  background-color: #F7F7F7;
  font-family: "Roboto";
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
  padding-bottom: 50px;
}
@media screen and (max-width: 768px) {
  section {
    top: 330px;
  }
}
section .menu__title {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  font-family: "Shrikhand";
  position: relative;
}
section .menu__title h1 {
  margin-left: 20px;
}
section .menu__title i {
  margin-right: 20px;
  float: right;
  position: absolute;
  bottom: 25px;
  right: 2%;
  font-size: 30px;
  font-size: 22px;
}
section .menu__title .fa-solid {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(#9356DC, #FF79DA);
  transition: all 1s;
  opacity: 0;
}
section .menu__title:hover .fa-solid {
  opacity: 1;
}
section .menu__title .fa-light {
  transition: all 1s;
  opacity: 1;
}
section .menu__title:hover .fa-light {
  opacity: 0;
}
section .menu__cardlist {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  gap: 2%;
  margin-left: 1%;
}
@media screen and (max-width: 768px) {
  section .menu__cardlist {
    justify-content: center;
    flex-direction: column;
  }
}
section .menu__decoration {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 15px;
}
section .menu__decoration span {
  border-bottom: 3px #99E2D0 solid;
}
section article {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  box-shadow: 2px 2px 5px rgb(217, 215, 215);
  border-radius: 10px;
  margin-bottom: 20px;
  width: 100%;
}
@media screen and (max-width: 768px) {
  section article {
    width: 100%;
  }
}
section article .menu__info {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
section article .menu__description1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  font-size: 18PX;
  font-weight: 500;
  margin-left: 10px;
}
section article .menu__description2 {
  font-size: 16px;
  margin-left: 10px;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
section article .menu__prix {
  padding-right: 15px;
  font-weight: 500;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
section article:hover .menu__checkanime {
  width: 20%;
}
section article:hover .menu--checkicon {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  section article:active .menu__checkanime {
    width: 28%;
  }
  section article:active .menu--checkicon {
    display: flex;
    justify-content: center;
  }
}
section article .menu__checkanime {
  display: flex;
  border-radius: 0px 10px 10px 0;
  width: 0%;
  align-items: center;
  justify-content: center;
  color: white;
  background: #99E2D0;
  transition: width 1s;
}
section article .menu--checkicon {
  display: none;
  width: 0%;
  font-size: 22px;
}
section article p {
  font-size: 16px;
  margin-left: 10px;
  font-weight: 300;
}
section article h3 {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  font-size: 18PX;
  font-weight: 500;
  margin-left: 10px;
  line-height: 0%;
}
section .menu__commander {
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 30px;
  color: white;
  font-weight: 600;
  font-size: medium;
  border: none;
  box-shadow: 2px 4px 10px rgb(173, 173, 173);
  width: 30%;
  height: 60px;
  margin: auto;
  width: 200px;
  margin-top: 20px;
  transition-property: transform;
  transform: scale(1);
}
section .menu__commander:hover {
  transform: scale(1.15);
  box-shadow: -1px 3px 26px 5px rgba(0, 0, 0, 0.4);
  opacity: 0.9;
}
section .menu__column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  width: 31%;
  margin-bottom: 30px;
  padding-left: 0;
}
@media screen and (max-width: 768px) {
  section .menu__column {
    width: 95%;
    margin-left: 2%;
  }
}

.menu__cards__1 {
  opacity: 0;
  animation: animemenu 1s linear forwards;
}
.menu__cards__2 {
  opacity: 0;
  animation: animemenu 1s linear forwards;
  animation-delay: 0.5s;
}
.menu__cards__3 {
  opacity: 0;
  animation: animemenu 1s linear forwards;
  animation-delay: 1s;
}
.menu__cards__4 {
  opacity: 0;
  animation: animemenu 1s linear forwards;
  animation-delay: 1.5s;
}

body {
  margin: 0;
}

@keyframes animemenu {
  0% {
    opacity: 0;
    transform: translateY(20%);
    transform-origin: bottom;
  }
  100% {
    opacity: 1;
  }
}
a {
  text-decoration: none;
  color: black;
}

/*FINN*/
footer {
  display: flex;
  flex-direction: column;
  background-color: #343434;
  justify-content: center;
  color: white;
  width: 100%;
  box-sizing: content-box;
  align-items: center;
  padding-bottom: 40px;
}
@media screen and (max-width: 768px) {
  footer {
    align-items: flex-start;
  }
}
footer img {
  filter: invert(100%);
  -webkit-filter: invert(100%);
  width: 15%;
  margin: 25px 30px 25px;
}
@media screen and (max-width: 768px) {
  footer img {
    width: 35%;
  }
}
footer .footer__proposal {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-left: 20px;
  line-height: 0%;
}
footer p {
  margin-left: 10px;
  color: white;
}
footer #footer__contact {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-left: 20px;
  color: white;
}
footer .footer__proposallist {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media screen and (max-width: 768px) {
  footer .footer__proposallist {
    flex-direction: column;
  }
}

/*fin*/
.commentfaire {
  display: flex;
  flex-direction: column;
}
.commentfaire__titre {
  font-size: 25px;
  margin-left: 20px;
}
.commentfaire__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 6%;
}
@media screen and (max-width: 768px) {
  .commentfaire__list {
    flex-direction: column;
    margin-right: 20px;
  }
}
.commentfaire__card {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  font-weight: 500;
  font-size: larger;
  color: black;
  border-radius: 20px;
  width: 30%;
  height: 70px;
  box-shadow: 0px 5px 8px rgb(173, 173, 173);
  background-color: #F4F4F4;
  margin-right: 5%;
}
.commentfaire__card:hover {
  background-color: #F5EDFF;
}
.commentfaire__card:hover i {
  color: #9356DC;
}
.commentfaire__card i {
  color: grey;
}
@media screen and (max-width: 768px) {
  .commentfaire__card {
    width: 100%;
    margin-bottom: 20px;
  }
}
.commentfaire__numero {
  background-color: #9356DC;
  color: white;
  border-radius: 31px;
  padding: 1px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 20px;
}
.commentfaire p {
  margin-left: 5%;
}

/*FIN*/
.loader {
  position: fixed;
  z-index: 2;
  background-color: #99E2D0;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  transition-duration: 3s;
  animation: loader 0s 3s forwards;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader i {
  animation: lds-heart 1s infinite;
  color: blue;
  font-size: 8vw;
  margin-top: 1.5em;
  margin-left: -0.25em;
}

.loader__logo {
  font-family: "Shrikhand";
  font-size: 10vw;
  animation: loaderlogo 1.5s;
}

@keyframes loader {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    z-index: -3;
    display: none;
  }
}
@keyframes loaderlogo {
  0% {
    opacity: 0;
    transform: translateX(100%);
    transform-origin: left;
  }
  100% {
    opacity: 1;
  }
}
@keyframes lds-heart {
  0% {
    transform: scale(0.95);
    color: #9356DC;
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
    color: #FF79DA;
  }
  60% {
    transform: scale(0.95);
    color: #9356DC;
  }
  100% {
    transform: scale(0.9);
    color: #FF79DA;
  }
}
/*fin*/

/*# sourceMappingURL=style.css.map */
