.resto {display: flex;
    flex-direction: column;
    
    margin-right: 30px;
    @media screen and (max-width :768px){background-color: #f7f7f7;
    margin: 0%;}

    
    &__title {font-size: 25px;
        margin-left: 30px;
        
        
        @media screen and (max-width :768px){margin-left: 20px;}}
    &__list {display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10%;
    justify-content: space-around;
    @media screen and (max-width :768px){margin: 0px 20px 0px ;}


        

    
    }
    &__cards {width: 40%;
        font-size: large; 
        box-shadow: 2px 4px 10px rgb(173, 173, 173); 
        margin-bottom: 40px;
        border-radius: 30px 30px;
        position: relative;
        .fa-solid{
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            background-image: linear-gradient($primarycolor, $secondarycolor);
           
            transition: all 1s;
            opacity: 0;  
            }  
            &:hover .fa-solid{
                
                opacity: 1;
            }
        
            .fa-light{
            
                transition: all 1s;
                opacity: 1;
            }  
            &:hover .fa-light{
            
            opacity: 0;
            }
        @media screen and (max-width :768px){width: 100%;}
        
    
    img { width: 100%;
        object-fit: cover;
    height: 175px;
    border-radius: 30px 30px 0px 0px;
}
    

    }
    &__new {position: absolute;
        top: 0px;
        margin-bottom: -60px;
         left: 77%;
         background-color:#99E2D0;
         color:#008765 ;
         width: 70px;
         padding: 2%;
         text-align: center;
         @media screen and (max-width :425px){left: 67%;}
       ;}

    &__cards i {float: right;
    position: absolute;
        bottom: 40px;
        right: 10px;
    font-size: 30px;
    }

   
    &__like {position:relative;
    }   
    &__info {margin-left: 20px;
        height: 70px;
    & h3 {font-size: 20px;
    line-height:  50%;}
    & p {color: grey;
        
    
font-size: 20px;}
   }
}
    
/* PAGES  ------------------------------------------ */

section {border-radius: 30px 30px 30px;

    width: 100%;
    background-color:#F7F7F7;
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    padding-bottom: 50px;
   
    @media screen and (max-width :768px){
        top: 330px;}
  
    .menu__title {display: flex;
        flex-direction: row;
        width: 100%;
    align-items: center;
justify-content: space-between;
font-family: "Shrikhand";
position: relative;


& h1 {margin-left: 20px;}
& i {margin-right: 20px;
    float: right;
    position: absolute;
    bottom: 25px;
    right: 2%;
    font-size: 30px;

font-size: 22px;}
.fa-solid{
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient($primarycolor, $secondarycolor);
    
    transition: all 1s;
    opacity: 0;  
    }  
    &:hover .fa-solid{
        opacity: 1;
    }

    .fa-light{
        transition: all 1s;
        opacity: 1;
    }  
    &:hover .fa-light{
    
    opacity: 0;
    }

}
.menu__cardlist {display:flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: flex-start;

gap: 2%;
margin-left: 1%;




    @media screen and (max-width :768px){justify-content: center;
    flex-direction: column;
    
}
    }

    .menu__decoration {display:flex;
        width:100%;
    justify-content: flex-start;
    font-size: 18px ;
    font-weight: 400; 
    margin-bottom: 15px;
        & span {
        border-bottom: 3px $tertiarycolor solid;
    }}

    article {display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    box-shadow: 2px 2px 5px rgb(217, 215, 215);
    border-radius: 10px ;
    margin-bottom: 20px;
    width: 100%;

    
 @media screen and (max-width :768px){width: 100%;}

    .menu__info {display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        width: 100%;
        white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;     
    }
    .menu__description1 {  white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; 
        width: 100%;
        font-size: 18PX;
        font-weight: 500;
        margin-left: 10px;
        
        
        }
    .menu__description2 {font-size: 16px;
        
        
        margin-left: 10px;
        font-weight: 300;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; 
        
    }
    .menu__prix {padding-right: 15px;
    font-weight: 500;
display:flex;
justify-content: flex-end;
align-items: flex-end;
}

&:hover{
    .menu__checkanime {
        width: 20%; 
}
.menu--checkicon {display: flex;
justify-content: center;
}
        
}

@media screen and (max-width :768px){ 
    &:active {
        .menu__checkanime {
            width: 28%;}
        .menu--checkicon {display: flex;
    justify-content: center; }}}


& .menu__checkanime {
    display: flex;
    border-radius: 0px 10px 10px 0; 
    width: 0%;
    align-items: center;
        justify-content: center;
color: white;
background:$tertiarycolor;
transition: width 1s;

}
& .menu--checkicon {display: none;
width: 0%;
font-size: 22px;}
& p {font-size: 16px;
margin-left: 10px;
font-weight: 300;

}
& h3 {width: 100%;
    display: flex;
    justify-content: flex-start;
    font-size: 18PX;
    font-weight: 500;
    margin-left: 10px;
    line-height: 0%;

}
}
.menu__commander {@include btn-gradende;
    margin: auto;
    width: 200px;
    margin-top: 20px ;
    transition-property: transform;
    transform: scale(1);
    &:hover {transform: scale(1.15);
        box-shadow: -1px 3px 26px 5px rgb(0 0 0 / 40%);
    opacity: 0.9;}}

    .menu__column {
        
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        list-style: none;
        width: 31%;
        margin-bottom:30px ;
        
    
    padding-left: 0;
    @media screen and (max-width :768px){width: 95%;
        margin-left: 2%;
}
}  
} 


.menu__cards{
&__1{opacity: 0;
    animation: animemenu  1s linear forwards;
    }
    &__2 {opacity: 0;
        animation: animemenu  1s linear forwards;
    animation-delay: 0.5s;}
&__3 {opacity: 0;
    animation: animemenu  1s linear forwards;
    animation-delay: 1s}
&__4 {opacity: 0;
    animation: animemenu  1s linear forwards;
    animation-delay: 1.5s}}


body{
margin: 0;


}

@keyframes animemenu{
    0% {opacity: 0; 
        transform: translateY(20%);
        transform-origin: bottom;
       
     

    }


    100% {opacity:1;}

   

}
a {text-decoration: none;
color: black;}

