header{display:flex;
flex-direction: column;
flex-wrap: wrap;
align-items: center;
width: 100%;

text-align: center;
 .logo {width: 50%;
display: FLEX;
justify-content: center;
object-fit: cover;
padding: 20px 0px 20px;

}
    .loc { text-align: center;
        padding: 20px 0px 20px;
        background-color: #EAEAEA;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;   
        
        .fa-location-dot {margin-left: 10%;
            }
        input{
            font-size: large;
            background-color: #EAEAEA;
            border: none;
            color: black;
            margin-left: 3%;
          
             }
       
    }  
        .calltoaction {
            display:flex;
            flex-direction: column;;
            background-color: #F7F7F7;
            width:100%;
            align-items: center;
            
            .header__btn {@include btn-gradende;
            margin: 20px;
            @media screen and (max-width :768px) 
            {width: 70%;}}
            
            h2 {margin: 20px;
                font-size: 30px;
           

               
            
            }}}
    
.header__alafrancaise {display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    &__logoretour{width: 100%;
        display: flex;
        flex-direction: row;
   align-items: center;
   justify-content: space-between;
   padding: 20px 0 20px;
    &i {position: absolute;
        
    }
    & img {display: flex;
    justify-content: center;
width: 50%;
position: relative;
right: 25%;}
  }
  &__banniere {
    width: 100%;
   img {width: 100%;
    height: 350px;
    object-fit: cover;
}}
    
    & i {font-size:xx-large;
    display: flex;
    justify-content: flex-start;
flex-direction: row;}
}
    
