header{display:flex;
flex-direction: column;
flex-wrap: wrap;
align-items: center;
width: 100%;

text-align: center;
 .logo {width: 50%;
display: FLEX;
justify-content: center;
object-fit: cover;
padding: 20px 0px 20px;
object-position: top;

img {@media screen and (max-width :768px) {width: 100%;}}

}
    .loc { text-align: center;
        padding: 20px 0px 20px;
        background-color: #EAEAEA;
        width: 100%;
      
        
        
        color: black;  
    &__content {display: flex;
        justify-content: center;
        text-align: center;
        
    
        align-items: center;
        
    }
    i {margin-right: 10px;}
        
        
        input{
            font-size: 15px;
            background-color: #EAEAEA;
            border: none;
            color: black;
            width: 110px;
            ;
            
            
          
             }

        input::placeholder {color: black;
        }
       
    }  


        .calltoaction {
            display:flex;
            flex-direction: column;;
            background-color: #F7F7F7;
            width:100%;
            align-items: center;
            padding-bottom: 7%;
        & p {margin: 0% 3% 2%;
        font-size: 18px;
    font-weight: 300;}
    & h1 {font-size: 26px;
    font-weight: 300px;
    margin: 7% 15% 4%;
}
    
            
            .header__btn {@include btn-gradende;
            margin: 20px;
            transition-property: transform;
            transform: scale(1);
            
            &:hover {transform: scale(1.15);
                box-shadow: -1px 3px 26px 5px rgb(0 0 0 / 40%);
            opacity: 0.9;}
            @media screen and (max-width :768px) 
            {width: 60%;}}
            
            h2 {margin: 20px;
                font-size: 30px;
           

               
            
            }}}
    
.header__alafrancaise {display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    &__logoretour{width: 100%;
        display: flex;
        flex-direction: row;
   align-items: center;
   justify-content: space-between;
   padding: 15px 0 15px;
   & a {display: flex;
    align-items: center;}
    & i {position: absolute;
        font-size: 45px;
        font-size:xx-large;
        display: flex;
        justify-content: flex-start;
        
        margin-left: 20px;
    flex-direction: row;
    @media screen and (max-width :768px){font-size:25px;}

    }
    & img {display: flex;
    justify-content: center;
    width:20% ;

position: relative;
margin: auto;
object-fit: cover;

@media screen and (max-width :768px){width: 50%;}
}
  }

    
    
   .banner__lanoteenchantee {width: 100%;
    background-image: url('../images/restaurants/lanoteenchantee.jpg');
    height: 350px;
    background-size:cover;
    background-position: center;
    margin-bottom: -25px;
   z-index:-1;
   @media screen and (max-width :768px){height: 200px;}
}
  
 
   .banner__alafrancaise {width: 100%;
    background-image: url('../images/restaurants/alafrancaise.jpg');
    height: 350px;
    background-size:cover;
    background-position: center;
    margin-bottom: -25px;
   z-index:-1;
   @media screen and (max-width :768px){height: 200px;}
}

.banner__ledelicedessens {width: 100%;
    background-image: url('../images/restaurants/ledelicedessens.jpg');
    height: 350px;
    background-size:cover;
    background-position: center;
    margin-bottom: -25px;
   z-index:-1;
@media screen and (max-width :768px){height: 200px;}
}

.banner__lapalettedugout {width: 100%;
    background-image: url('../images/restaurants/lapalettedugout.jpg');
    height: 350px;
    background-size:cover;
    background-position: center;
    margin-bottom: -25px;
   z-index:-1;
   @media screen and (max-width :768px){height: 200px;}

}
    
  
}
    
